NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOi.eyJpc3MiOiJzdXQwNjQsImV4cCI6MjEwMDMwMDA2NH0.alRpi2nLChBLqj2
SUPABASE_SERVICE_ROLE_KEY=eyJhbGc.eyJpc3M9sZSIsImlMzAwMDY0fQ.C-rEbYld6g
NEXT_PUBLIC_SITE_URL=